.app-header {
  height: 80px;
  background-color: #394b3d; 
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.app-title {
  font-size: 20px;
  font-weight: 600;
}

.app-link {
  font-size: 16px;
  font-weight: 600;
  color: white;
}